#footer{
  margin-top:120px;
  padding-top: 70px;
  background-color: #222222;
  position: relative;
}
#footer>.logo{
  width: 136px;
  height: 136px;
  background-color: #222222;
  position: absolute;
  top: -75px;
  border-radius: 50%;
  left: calc( 50% - 68px );
}
#footer>.logo>.logo_k{
  width: 111px;
  height: 111px;
  background-color: #eeeeee;
  margin: 12.5px;
  border-radius: 50%;
}
#footer>.logo>.logo_k>div{
  display: inline-block;
  border-radius: 50%;
  margin: 4px;
  width: 101px;
  height: 101px;
  border: solid 1px #ffffff;
}
#footer .logo img {
  margin: 4px 5px;
  width: 90px;
  height: 80px;
}
#footer .link {
  font-size: 14px;
  min-width: 1200px;
  width: 100%;
  height: 42px;
  text-align: center;
  line-height: 42px;
  color: white;
  cursor: pointer;
}
#footer .link a{
  font-size: 14px;
  color:white;
  text-decoration: none;
  margin-right:5px; 
}
#footer .banquan {
  font-size: 12px;
  min-width: 1220px;
  width: 100%;
  color: white;
  text-align: center;
  line-height: 30px;
}
#footer .banquan .bq_content{
  width:1200px;
  margin: 0 auto; 
}
#footer .banquan img {
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
}